label {
  font-size: 16px;
  color: white;
}
input {
  height: 10%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid var(--acc);
  border-radius: 10px;
  background-color: var(--base);
  color: white;
}
input:focus {
  outline: white;
  background-color: var(--acc);
}
li {
  color: var(--acc);
}
.progress-bar {
  width: 100%;
  background-color: var(--dark_base);
  margin-top: 10px;
  border-radius: 10px;
}
.progress {
  width: 1%;
  height: 30px;
  background-color: var(--acc);
  border-radius: 10px;
}
