#version {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 12px;
  color: white;
}

#version-btn {
  position: absolute;
  bottom: 10px;
  right: 70px;
  font-size: 6px;
  color: white;
}

.setting-label {
  font-size: 16px;
  color: var(--acc);
  align-self: center;
}

#accent-color,
#notification-settings {
  background-color: var(--base);
  color: white;
  padding: 10px;
  border: 1px solid var(--acc);
  border-radius: 5px;
  font-size: 14px;
  width: 100%;
  max-width: 250px;
  margin-bottom: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 35%;
}
