@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500&display=swap");

:root {
  --base: #18181a; /* Base color */
  --dark_base: #101014; /* Dark Base color */
  --acc: var(--branded_blue); /* Accent color */

  --branded_blue: #637eee; /* Branded Blue */

  /* Rainbow Accent Colors */
  --red: #ff666e; /* Soft Red */
  --crimson: #b3404a; /* Soft Crimson */
  --orange: #ff8a50; /* Soft Orange */
  --amber: #ffca60; /* Soft Amber */
  --yellow: #ffef7d; /* Soft Yellow */
  --lime: #7dfa72; /* Soft Lime */
  --green: #60ed9d; /* Soft Green */
  --teal: #4db6ac; /* Soft Teal */
  --cyan: #4dd0e1; /* Soft Cyan */
  --blue: #6d9fff; /* Soft Blue */
  --indigo: #7986cb; /* Soft Indigo */
  --violet: #ba68c8; /* Soft Violet */
  --purple: #ab47bc; /* Soft Purple */
  --pink: #ec407a; /* Soft Pink */
  --magenta: #ff66ff; /* Soft Magenta */
  --gray: #828da4; /* Soft Gray */

  /* Developer Colors */
  --white: #ffffff; /* Soft White */
  --NYX: #6f00ff; /* Soft Black Red */
}

body::before {
  --line: color-mix(in lch, var(--acc) 25%, transparent);
  --size: 60px;
  content: "";
  height: 100vh;
  width: 100vw;
  position: fixed;
  background: linear-gradient(
        90deg,
        var(--line) 2px,
        transparent 2px var(--size)
      )
      0 -5vmin / var(--size) var(--size),
    linear-gradient(var(--line) 2px, transparent 2px var(--size)) 0 -5vmin / var(
        --size
      ) var(--size);
  mask: linear-gradient(-15deg, transparent 45%, var(--acc));
  top: 0;
  pointer-events: none;
}

* {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--base);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
}

.text-container {
  width: 70%;
}

.button-container {
  position: relative;
  top: 0.5rem;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 15px;
  background-color: #101014;
  opacity: 0.92;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border: 2px solid var(--acc);
  z-index: 999;
}

h1 {
  font-size: 36px;
  color: white;
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  color: white;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  color: #888;
  margin-bottom: 40px;
}

.titlebar {
  -webkit-app-region: drag;
  width: 100%;
  height: 1.5rem;
  background-color: var(--acc);
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  padding: 0 0px;
}

.menu-btn {
  -webkit-app-region: no-drag;
  cursor: pointer;
  background: transparent;
  border: none;
  color: white;
  width: auto;
  height: auto;
}

.menu-icon {
  height: 0.1rem;
  width: 0.1rem;
  margin-top: 0.2rem;
  margin-right: 1.25rem;
  cursor: pointer !important;
  z-index: 100;
  -webkit-app-region: no-drag;
}

.btn {
  text-decoration: none;
  background: none;
  border: 2px solid;
  border-radius: 10px;
  margin: 2px;
  font: inherit;
  line-height: 1;
  padding: 1em 2em;
  display: inline-block;
  color: var(--color);
  transition: 0.25s;
  font-size: 14px;
  cursor: pointer;
  z-index: 100;
}

.btn:hover,
.btn:focus {
  border-color: var(--hover);
  color: #fff;
}

.fill {
  --color: var(--acc);
  --hover: color-mix(in srgb, var(--acc) 90%, white);
}

.fill:hover,
.fill:focus {
  box-shadow: inset 0 0 0 2em var(--hover);
}

.mbt {
  width: 75%;
}

.discord-widget {
  width: 80%;
  z-index: 1000;
  position: relative;
  opacity: 0.9;
}

#accent-color,
#notification-settings {
  background-color: var(--base);
  color: white;
  align-self: center;
}

.setting-label {
  font-size: 16px;
  color: var(--acc);
  align-self: center;
}
